{% extends "base.html" %}

{% block title %}
Reports
{% endblock title %}

{% block content %}
{% if reports and user.is_staff %}
	{% for report in reports %}
		<div class="report">
			<h2>{{ report.date }}</h2>
			<p>{{ report.reported_by.username }}</p>
			<p>{{ report.post_id.title }}</p>
			<img src="{{ report.post_id.image.url }}" alt="{{ report.post_id.title }}">
			<p>{{ report.post_id.description }}</p>
			<p>{{ report.post_id.user.username }}</p>
			<p>{{ report.created_at }}</p>

			<form method="POST">
				{% csrf_token %}
				<button type="submit" name ="delete_post_id" value = {{report.post_id.id}}>Delete</button>
			</form> 
		</div>
	{% endfor %}
{% else %}
	<p>No reports</p>
{% endif %}
{% endblock content %}