{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "AdminPanel/style.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Besleme Kahramanları</title>
</head>
<body>
    <div id = "sidebar">
        <img src={% static "AdminPanel/logo.png" %} id="logo">
        <ul id="datatypes">
            <li class="dtl"><a href="{% url 'users' %}">Users</a></li>
            <li class="dtl"><a href="{% url 'reports' %}">Reports</a></li>
            <li class="dtl"><a href="{% url 'posts' %}">Posts</a></li>
            <li class="dtl"><a href="{% url 'feed_points' %}">Feed Points</a></li>
        </ul>
    </div>
	{% if messages %}
	<div class="messages" id="messages">
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
		{% endfor %}
	</div>
	{% endif %}
	<div id="tables">
		{% block body %}
		{% endblock body %}
	</div>
	<script>
		const sleep = ms => new Promise(r => setTimeout(r, ms));

		async function hideMessages() {
		  await sleep(3000);
		
		  var floatingDiv = document.getElementById('messages');
		  floatingDiv.style.display = 'none';
		}

		hideMessages();

  </script>
</body>
</html>