{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "AdminPanel/style.css" %}">
    <title>Besleme Kahramanları</title>
    <link rel="icon" type="image/x-icon" href="{% static "AdminPanel/logo.png" %}">
</head>
<body class="wbg">
    <div id = "header">
        <img src="{% static "AdminPanel/logo.png" %}" id="logo">
    </div>
    <div id = "box">
		{% if form.errors %}
			<p class="error">Username or password is incorrect</p>
		{% endif %}
        <form method="post">
            {% csrf_token %}
			<p class = "loginpart">Username: 
			{{ form.username }}
            <p class = "loginpart">Password: 
			{{ form.password }}
            <input class="btn" type="submit" value="Login">
        </form>
    </div>
</body>
</html>
