{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "AdminPanel/style.css" %}">
    <title>Besleme Kahramanları</title>
    <link rel="icon" type="image/x-icon" href="{% static "AdminPanel/logo.png" %}">
</head>
<body class="wbg">
    <div id = "header">
        <img src="{% static "AdminPanel/logo.png" %}" id="logo">
    </div>
    <div id = "box">
        <form method="post">
            {% csrf_token %}
			<input type="text" name="username" placeholder="Kullanıcı Adı" class="input">
			<input type="password" name="password" placeholder="Şifre" class="input">
			<input type="submit" value="Giriş Yap" class="button">
        </form>
    </div>
</body>
</html>
