{% extends "AdminPanel/base.html" %}

{% block body %}
	<a href="{% url 'posts' %}" class="btn-close"></a>
	<h1> View Post </h1>
	<div class="form-group">
		<label class="form-label">User</label>
		<label class="form-control">{{ post.user }}</label>
		<label class="form-label">Feed Point</label>
		<label class="form-control">{{ post.feed_point }}</label>
		<label class="form-label">Food Amount</label>
		<label class="form-control">{{ post.food_amount }}</label>
	</div>
	<img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
{% endblock  %}

