{% extends "AdminPanel/base.html" %} {% block body %}
<h1 class="text-center">Users</h1>
<table class="table table-light table-striped table-hover">
	{% if table_data %}
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Name</th>
			<th>Contact</th>
			<th>Rights</th>
			<th>Joined At</th>
			<th>Actions</th>
		</tr>
		{% for user in table_data %}
			<tr>
				<th scope="row">{{ user.id }}</th>
				<td>{{ user.username }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.email }}</td>
				<td>
					{% if user.is_superuser %}
						Super
					{% elif user.is_staff %}
						Staff
					{% elif user.is_active %}
						User
					{% else %}
						Banned
					{% endif %}
				</td>
				<td>{{ user.date_joined }}</td>
				<td>
					{% if user.is_superuser != True %}
						<div class="btn-group" role="group">
							<a href="{% url 'users_view' user.id %}" class="btn btn-primary">
								View
							</a>
							{% if user.is_active %}
								<a href="{% url 'users_ban' user.id %}" class="btn btn-danger">
									Ban
								</a>
								{% if request.user.is_superuser %} 
									{% if user.is_staff %}
										<a href="{% url 'users_unstaff' user.id %}" class="btn btn-warning">
											Fire
										</a>
									{% else %}
										<a href="{% url 'users_staff' user.id %}" class="btn btn-success">
											Hire
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								<a href="{% url 'users_unban' user.id %}" class="btn btn-success">
									Unban
								</a>
							{% endif %} 
                            {% if request.user.is_superuser %}
                                <a href="{% url 'users_delete' user.id %}" class="btn btn-danger">
                                    Delete
                                </a>
                            {% endif %}
							
						</div>
					{% endif %}
				</td>
			</tr>
		{% endfor %} 
	{% else %}
		<tr>
			<td colspan="3">No data</td>
		</tr>
	{% endif %}
</table>
{% endblock %}
